
body {
  font-family: "Merriweather", serif;
  box-sizing: border-box;
}

h3 {
  font-family: "Lato", sans-serif;
  font-weight: 600px;
  font-size: 2rem;
  margin: 0 0 1.5rem 0;
}

img {
  width: 300px;
}

p:first-child {
  font-style: italic;
  font-size: 0.9rem;
}

span {
  font-weight: bolder;
}

ul {
  padding-left: 0;
}

li {
  line-height: 1.5;
  list-style: none;
}

.container {
  width: 300px;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid lightgray;
  box-shadow: 10px 10px 0 0 #F0F0F0;
}

.facts {
  padding: 0 1rem 1rem 1rem;
  margin-top: 1rem;
  border: 1px solid lightgray;
}
